body { 
    font-family: "Nunito", Arial, sans-serif; 
	font-size: 18px
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
	color: #3c484e
} 

header, footer { 
    background-color: #f8f9fa; 
    text-align: center; 
    padding: 1em; 
} 

.site-title {
    text-align: left;
    margin-left: 20px;
    background: linear-gradient(45deg, #e94e77, #4e54c8, #8f94fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari */
    background-clip: text;
    color: transparent;
	text-decoration: none; /* buat hapus dekorasi bawaan link */
	transition: transform 0.2s ease-in-out;
}

.site-title:hover {
    transform: translateY(-2px); /* Efek naik sedikit saat di-hover */
}

.site-title:active {
    transform: translateY(2px); /* Efek tenggelam saat di-klik */
}

nav ul { 
    list-style: none; 
    padding: 0; 
} 

nav ul li { 
    display: inline-block; 
    margin: 0 1em;
    position: relative; 
} 

nav ul li a { 
    text-decoration: none; 
    color: #007bff; 
    padding: 0.5em 1em; 
    border: 1px solid #007bff; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
} 

nav ul li a:hover { 
    background-color: #007bff; 
    color: #fff; 
} 

.dropdown-menu { 
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: white; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    z-index: 1; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 

.dropdown-menu li { 
    display: block; 
} 

.dropdown-menu li a { 
    display: block; 
    padding: 0.5em 1em; 
    border: none; 
    border-radius: 0; 
} 

.dropdown-menu li a:hover { 
    background-color: #f1f1f1; 
    color: #007bff; 
}

main { 
    display: flex; 
    /* jika ingin menggunakan justify, aside > comment max-height */
    /* justify-content: space-between; */
    padding: 1em; 
} 

#content { 
    flex: 3; 
    margin-right: 1em; 
} 

article { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
	border-radius: 5px;
} 

article h2 {
    margin-bottom: 0.5em;
    text-align: left;
    background: linear-gradient(45deg, #e94e77, #4e54c8, #8f94fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Untuk Safari */
    background-clip: text;
    color: transparent;
}

article .article-content { 
    text-align: center; 
} 

article p { 
    display: none; 
    margin-top: 1em; 
} 

article.show p { 
    display: block; 
} 

/* Efek hover article */ 
article:hover { 
    transform: scale(1.02); 
    background-color: #dfebf0; 
} 

article, aside { 
    background-color: #e9ecef; 
    margin-bottom: 1em; 
    padding: 1em; 
    transition: transform 0.3s, background-color 0.3s; 
    position: relative; 
} 

article:hover, aside:hover { 
    transform: scale(1.02); 
    background-color: #dfebf0; 
} 

aside { 
    flex: 1; 
    background-color: #f1f3f5; 
    padding: 1em;
    max-height: 800px; 
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s; 
    border-radius: 5px; 
} 

aside h2 {
    margin-bottom: 0.5em;
    text-align: left;
    background: linear-gradient(45deg, #e94e77, #4e54c8, #8f94fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari */
    background-clip: text;
    color: transparent;
}

.xers {
    margin-bottom: 0.5em;
    text-align: left;
}

.xers a {
    background: linear-gradient(45deg, #66bb6a, #2da978, #1e7d6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari */
    background-clip: text;
    color: transparent;
    text-decoration: none; /* buat hapus dekorasi bawaan link */
}

.xers2 {
    background: linear-gradient(45deg, #66bb6a, #2da978, #1e7d6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari */
    background-clip: text;
    color: transparent;
    font-weight: bold;
    text-decoration: none; /* buat hapus dekorasi bawaan link */
}

aside a {
    background: linear-gradient(45deg, #e94e77, #ff8a00, #ffcc29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari */
    background-clip: text;
    color: transparent;
    text-decoration: none; /* buat hapus dekorasi bawaan link */
}

.xers3 {
    background: linear-gradient(45deg, #e94e77, #4e54c8, #8f94fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari */
    background-clip: text;
    color: transparent;
}

aside:hover { 
    transform: translateY(-5px); 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
} 

img { 
    max-width: 100%; 
    height: auto; 
} 

footer { 
    margin-top: 1em; 
} 

.toggle-content { 
    align-self: flex-end; 
    background-color: #007bff; 
    color: #fff; 
    padding: 0.5em 1em; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
} 

.toggle-content:hover { 
    background-color: #1e7fe8; 
} 

@media (max-width: 768px) { 
    main { 
        flex-direction: column; 
    } 

    #content { 
        margin-right: 0; 
    } 

    article .toggle-content { 
        align-self: flex-start; 
        margin-top: 1em; 
    } 
} 

#backToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border: none;
  padding: 15px 20px;
  border-radius: 30%;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#backToTopBtn:hover {
  background-color: #0056b3;
}


/* Style khusus buat halaman About */

#tentang-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.toggle-content {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-content:hover {
    background-color: #0056b3;
}

#tentang-content article p {
    display: none;
}

#tentang-content article.show p {
    display: block;
    animation: expand 0.5s ease;
}

.xpabout {
  text-align: left; 
  line-height: 1.5;
  margin: 20px 0;
}

.xsabout {
  font-weight: bold;
  background: linear-gradient(to right, #8B0000, #4B0082, #EE82EE);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
